body {
	background: red;	
}

/* ----------- Tablets larger than 768px wide ----------- */
@media (min-width: 769px) and (max-width: 1199px) {
	body {
    background: aquamarine;
  }
}

/* ----------- Monitors larger than 1200px wide ----------- */
@media (min-width: 1201px) {
	body {
	background: magenta;	
	}

}
